name: Bylickilabs Generate Snake - personalised by guyVicky

on:
  schedule:
    - cron: "30 1 */5 * *"
  workflow_dispatch:
  
jobs:

  build:
  
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v2
      - uses: platane/snk@master
        id: snake-gif
        
        with:
          github_user_name: guyVicky
          gif_out_path: ©svgs/github-contribution-grid-snake.gif
          svg_out_path: ©svgs/github-contribution-grid-snake.svg
          png_out_path: ©svgs/github-contribution-grid-snake.png
          
      - run: git status
      - name: Push changes
        uses: ad-m/github-push-action@master
        
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: true
          
      - uses: crazy-max/ghaction-github-pages@v3
      
        with:
          target_branch: svgs
          build_dir: ©svgs
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
